{:paths ["src" "resources"]
 :deps {org.clojure/clojure         {:mvn/version "1.10.3"}
        com.cognitect.aws/api       {:mvn/version "0.8.539"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.206"}
        com.cognitect.aws/s3        {:mvn/version "822.2.1109.0"}
        com.cognitect.aws/ecs       {:mvn/version "821.2.1107.0" }
        com.cognitect.aws/ec2       {:mvn/version "822.2.1122.0"}
        com.cognitect.aws/cloudformation {:mvn/version "821.2.1107.0"}
        com.cognitect.aws/iam       {:mvn/version "821.2.1107.0"}
        com.cognitect.aws/sts       {:mvn/version "822.2.1109.0"}
        com.cognitect.aws/kms       {:mvn/version "822.2.1145.0"}
        com.cognitect.aws/lightsail {:mvn/version "822.2.1145.0"}
        phrase/phrase               {:mvn/version "0.3-alpha4"}}
 :aliases
 {:run-m {:main-opts ["-m" "odie.sokoban"]}
  :run-x {:ns-default odie.sokoban
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.3" :git/sha "9b8e09b"
                  ;; since we're building an app uberjar, we do not
                  ;; need deps-deploy for clojars.org deployment:
                  :deps/root "slim"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.0" :git/sha "48c3c67"}}}}}
