{:lint-as {odie.sokoban.aws-utils/aws-when-let clojure.core/when-let
           odie.sokoban.aws-utils/aws-when-let* clojure.core/let
           odie.sokoban.utils/when-let* clojure.core/let
           }}
